.button1{
    width: 100%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    &:disabled {
      color: green;
      cursor: not-allowed;
    }
    font-size: 2rem;
}

